
.card {
    background-color: white;
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 30px;
    color: var(--primary);
    font-size: 16px;

    i {
        font-size: 30px;
    }

    button {
        margin: 10px;
        padding: 10px;
        border-radius: 3px;
        border: none;
        background-color: var(--primary);
        color: white;
        cursor: pointer;
        
        &:hover {
            background-color: var(--pink-1);
            
        }
    }
}