@use '../../assets/styles/mixins' as mixin;
.header {
    color: var(--primary);
    background-color: white;
    box-shadow: var(--box-shadow-nav);

    div {
        cursor: pointer;
    }
}

.logo {
    i {
        font-size: 1.7rem;
        margin-right: 0.5rem;
    }
}

.headerxs {
    display: none;
    cursor: pointer;
    transition: opacity 0.2s;
    position: relative;
    &:hover {
        opacity: 0.8;
    }
    @include mixin.xs {
        display: block;
    }
}

.menu {

    @include mixin.xs {
        display: none;
    }

}