.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
     padding: 20px;
}

.p-30 {
    padding: 30px;
}

.pt-30 {
    padding-top: 30px;
}


.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
     margin: 20px;
}

.mh-20 {
    margin: 0 20px;
}

.mv-10{
    margin: 10px 0px;
}


// .m-30 {
//     margin: 30px;
// }

.text-align-center {
    text-align: center;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-15{
    margin-right: 15px;
}

.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.m-auto {
    margin: auto;
}




.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    // min-height: 500px;
}


.calc {
    position: fixed;
    z-index: 2 ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
